.bg{
    background-color:#1ABC9C;
}

 .lines::after{
    content: "";
    position: absolute;     
    width: 5%;
    height: 0.3rem;
    left: 45%;
 bottom: 28%;
    transform: translateX(-50%);
    background-color: white;       
 } 
 .star{
    position: absolute;     
    left: 49%;
 bottom: 27%;
 transform: translateX(-50%) ;      
 } 
 .lines2::after{
    content: "";
    position: absolute;     
    width: 5%;
    height: 0.3rem;
    left: 53%;
 bottom: 28%;
    transform: translateX(-50%);
    background-color: white;       
 } 
 
 @media screen and (min-width: 600px) and (max-width:800px) {
   .lines2::after ,.lines::after {
 bottom: 43%;

     
   }
 }

 
 @media screen and (min-width: 600px) and (max-width:800px) {
   .star {
 bottom: 42%;
     
   }
 }
